/deepmux_try.py
/corgi.jpg
/README.md
/save_weights_from_model.py

__pycache__/
/checkpoints/
/images/
/data/
/options/
/util/

/models/__init__.py
/models/base_model.py
/models/cycle_gan_model.py
/models/test_model.py